<%= form_for(@frontpage) do |f| %>
  <% if @frontpage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frontpage.errors.count, "error") %> prohibited this frontpage from being saved:</h2>

      <ul>
      <% @frontpage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
