<div class="panel-group" id="accordion">
    <div class="faqHeader">FundMyGift FAQs</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">What is FundMyGift?</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
                A fundraise service that helps you get what you have been wanting in your wish list! Invite your family and friends to FundMyGift Page to crowd fund your gift.
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true">What can I use FundMyGift for?</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
              You can create a fundraise campaign Page for anything in your wish list and invite your friends to chip in online. Once the funds/gifts are raised our affiliated retailer (or donor) will deliver your gift right to your doorstep.

            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true">How do I promote my campaign page?</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
              You can promote your campaign page using the following tools:<br />
              - Invite: use this feature to send invitation emails and keep track<br />
              - Share: post on social networks using the sharing buttons<br />
              - Email: send the link by email to your contacts<br />
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true">Is FundMyGift free to use?</a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
              It's free to set up a FundMyGift Page<br />
              <br />
              You can create an account and start a FundMyGift campaign for free.<br />
              <br />

              There is a FundMyGift admin fee when invitees contribute<br />
              There is a small contribution fee, which is 4% of the contribution amount. This is added on top of your contribution.<br />
              For example if you make a RM10 contribution to a page you will be charge RM1.04
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true">Can I change my deadline or target amount?</a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
              Yes. We allow you to set any deadline or target amount you choose, and you can login and change these at any time.
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true">Can I use FundMyGift anywhere in the world?</a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
              Yes. You can use FundMyGift to collect funds anywhere in the world.
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true">What currencies can I use?</a>
            </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
              You can contribute towards a FundMyGift Page in any currency. If you're collecting funds into your PayPal account you can choose to do this in either USD, GBP or EUR. Foreign currency contributions are changed to your chosen currency using PayPal's daily exchange rate.
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true">Do you need a Facebook account to use FundMyGift?</a>
            </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
              No you don't! You can invite your friends to chip in towards your group gift by email, Facebook or just by sharing the link to your FundMyGift Page anywhere you like.
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true">Do you need a PayPal account to use FundMyGift?</a>
            </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
              You only need a PayPal account if you're supporting a fundraising campaign using FundMyGift. You don't need a PayPal account to create a fundraising campaign.
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="true">Are payments to Shareagift secure?</a>
            </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
              Absolutely. We use PayPal as our secure payment provider to ensure your transactions are always made safely and securely. We don't store any of your bank details
            </div>
        </div>
    </div>

    <br /><br />

    <h4>Support Centre</h4>
    <p>
    Haven't found the answer you're looking for?<br /><br />
    **Contact us directly:**<br /><br />
    Email: <a href="mailto:hello@fundmygift.com">hello@fundmygift.com</a></p><br /><br /><br />






</div>
